cpu: False
prior_samples: False
lens_only: False
plot_results: True
save_intermediate_pickle: False

grid:
  sdim: 256
  s_padding_ratio: 1.5
  fov: 5
  fov_unit: arcsec
  pointing:
    ra: 64.66543063107049
    dec: -47.86462563973049
    unit: deg
    frame: icrs
    # rotation: 0
    # rotation: -25
    # rotation: 65
    rotation: -115

  source_grid:
    sdim: 256
    fov: 2
    s_padding_ratio: 1.5

  energy_unit: eV
  energy_bin:
    e_min:
      - 0.054 # F2100W
      - 0.068 # F1800W  # mistake here actually 0.064
      - 0.075 # F1500W
      - 0.093 # F1280W  # mistake here actually 0.088
      - 0.114 # F1000W
      - 0.143 # F770W
      - 0.201 # F560W
      - 0.249 # F444W
      - 0.319 # F356W  # mistake here actually 0.311
      - 0.396 # F277W
      - 0.557 # F200W
      - 0.743 # F150W
      - 0.967 # F115W
    e_max:
      - 0.067 # F2100W
      - 0.075 # F1800W
      - 0.092 # F1500W
      - 0.107 # F1280W
      - 0.137 # F1000W
      - 0.188 # F770W
      - 0.245 # F560W
      - 0.319 # F444W
      - 0.395 # F356W
      - 0.512 # F277W
      - 0.707 # F200W
      - 0.932 # F150W
      - 1.224 # F115W
    reference_bin: 7 # F444W

telescope:
  psf:
    webbpsf_path: './data/JWST/WebbPsf/webbpsf-data-LATEST-2/'
    psf_library: './data/JWST/psf_library'
    psf_pixels: 32  # FIXME: Check again, should be set by the fov

  zero_flux:
    prior: ['lognormal', 0.9, 4]

    f560w: ['lognormal', 1.5, 1.5]
    f770w: ['lognormal', 4.0, 1.5]
    f1000w: ['lognormal', 14.0, 1.5]
    f1280w: ['lognormal', 25.0, 1.5]
    f1500w: ['lognormal', 43.0, 1.5]
    f1800w: ['lognormal', 92.0, 1.5]
    f2100w: ['lognormal', 226.0, 1.0]


  rotation_and_shift:
    model: 'linear' # 'sparse', 'linear', 'nufft'
    kwargs_linear:
      # order: 1
      # sky_as_brightness: False
      mode: 'constant'
    subsample: 3
    priors: # will be ignored in case of sparse
      rotation_unit: deg
      rotation: ['normal', 0, 1.0e-1]
      shift: ['normal', 0, 1.0e-1]  # pixel units

      f444w:
        0: 
          shift: ['delta', 0, 0]  # pixel units
          rotation: ['delta', 0, 0]

files:
  # res_dir: './results/jwst_lens/mfreworked/test'
  res_dir: './results/jwst_lens/mfreworked/all_data_04_noswap'

  pretrain_path: './results/jwst_lens/mfreworked/all_filters_01/config.yaml'

  filter:

    f2100w:
      - './data/spt0418/f2100w/jw01355015001_15101_00001_mirimage/jw01355015001_15101_00001_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00002_mirimage/jw01355015001_15101_00002_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00003_mirimage/jw01355015001_15101_00003_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00004_mirimage/jw01355015001_15101_00004_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00005_mirimage/jw01355015001_15101_00005_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00006_mirimage/jw01355015001_15101_00006_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00007_mirimage/jw01355015001_15101_00007_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00008_mirimage/jw01355015001_15101_00008_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00009_mirimage/jw01355015001_15101_00009_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00010_mirimage/jw01355015001_15101_00010_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00011_mirimage/jw01355015001_15101_00011_mirimage_cal.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00012_mirimage/jw01355015001_15101_00012_mirimage_cal.fits'

    f1800w:
      - './data/spt0418/f1800w/jw01355015001_13101_00001_mirimage/jw01355015001_13101_00001_mirimage_cal.fits'
      - './data/spt0418/f1800w/jw01355015001_13101_00002_mirimage/jw01355015001_13101_00002_mirimage_cal.fits'
      - './data/spt0418/f1800w/jw01355015001_13101_00003_mirimage/jw01355015001_13101_00003_mirimage_cal.fits'
      - './data/spt0418/f1800w/jw01355015001_13101_00004_mirimage/jw01355015001_13101_00004_mirimage_cal.fits'

    f1500w:
      - './data/spt0418/f1500w/jw01355015001_11101_00001_mirimage/jw01355015001_11101_00001_mirimage_cal.fits'
      - './data/spt0418/f1500w/jw01355015001_11101_00002_mirimage/jw01355015001_11101_00002_mirimage_cal.fits'
      - './data/spt0418/f1500w/jw01355015001_11101_00003_mirimage/jw01355015001_11101_00003_mirimage_cal.fits'
      - './data/spt0418/f1500w/jw01355015001_11101_00004_mirimage/jw01355015001_11101_00004_mirimage_cal.fits'

    f1280w:
      - './data/spt0418/f1280w/jw01355015001_09101_00001_mirimage/jw01355015001_09101_00001_mirimage_cal.fits'
      - './data/spt0418/f1280w/jw01355015001_09101_00002_mirimage/jw01355015001_09101_00002_mirimage_cal.fits'
      - './data/spt0418/f1280w/jw01355015001_09101_00003_mirimage/jw01355015001_09101_00003_mirimage_cal.fits'
      - './data/spt0418/f1280w/jw01355015001_09101_00004_mirimage/jw01355015001_09101_00004_mirimage_cal.fits'

    f1000w:
      - './data/spt0418/f1000w/jw01355015001_07101_00001_mirimage/jw01355015001_07101_00001_mirimage_cal.fits'
      - './data/spt0418/f1000w/jw01355015001_07101_00002_mirimage/jw01355015001_07101_00002_mirimage_cal.fits'
      - './data/spt0418/f1000w/jw01355015001_07101_00003_mirimage/jw01355015001_07101_00003_mirimage_cal.fits'
      - './data/spt0418/f1000w/jw01355015001_07101_00004_mirimage/jw01355015001_07101_00004_mirimage_cal.fits'

    f770w:
      - './data/spt0418/f770w/jw01355015001_05101_00001_mirimage/jw01355015001_05101_00001_mirimage_cal.fits'
      - './data/spt0418/f770w/jw01355015001_05101_00002_mirimage/jw01355015001_05101_00002_mirimage_cal.fits'
      - './data/spt0418/f770w/jw01355015001_05101_00003_mirimage/jw01355015001_05101_00003_mirimage_cal.fits'
      - './data/spt0418/f770w/jw01355015001_05101_00004_mirimage/jw01355015001_05101_00004_mirimage_cal.fits'

    f560w: # MIRI
      - './data/spt0418/f560w/jw01355015001_03101_00001_mirimage/jw01355015001_03101_00001_mirimage_cal.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00002_mirimage/jw01355015001_03101_00002_mirimage_cal.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00003_mirimage/jw01355015001_03101_00003_mirimage_cal.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00004_mirimage/jw01355015001_03101_00004_mirimage_cal.fits'

    f444w: # NIRCam
      - './data/spt0418/f444w/jw01355016001_02105_00001_nrcblong/jw01355016001_02105_00001_nrcblong_cal.fits'
      - './data/spt0418/f444w/jw01355016001_02105_00002_nrcblong/jw01355016001_02105_00002_nrcblong_cal.fits'

    f356w:
      - './data/spt0418/f356w/jw01355016001_02103_00001_nrcblong/jw01355016001_02103_00001_nrcblong_cal.fits'
      - './data/spt0418/f356w/jw01355016001_02103_00002_nrcblong/jw01355016001_02103_00002_nrcblong_cal.fits'

    f277w:
      - './data/spt0418/f277w/jw01355016001_02101_00001_nrcblong/jw01355016001_02101_00001_nrcblong_cal.fits'
      - './data/spt0418/f277w/jw01355016001_02101_00002_nrcblong/jw01355016001_02101_00002_nrcblong_cal.fits'

    f200w:
      - './data/spt0418/f200w/jw01355016001_02105_00001_nrcb4/jw01355016001_02105_00001_nrcb4_cal.fits'
      - './data/spt0418/f200w/jw01355016001_02105_00002_nrcb4/jw01355016001_02105_00002_nrcb4_cal.fits'

    f150w:
      - './data/spt0418/f150w/jw01355016001_02103_00001_nrcb4/jw01355016001_02103_00001_nrcb4_cal.fits'
      - './data/spt0418/f150w/jw01355016001_02103_00002_nrcb4/jw01355016001_02103_00002_nrcb4_cal.fits'

    f115w: # NIRCam
      - './data/spt0418/f115w/jw01355016001_02101_00001_nrcb4/jw01355016001_02101_00001_nrcb4_cal.fits'
      - './data/spt0418/f115w/jw01355016001_02101_00002_nrcb4/jw01355016001_02101_00002_nrcb4_cal.fits'

lensing: 

  model:
    source:
      light:
        mean:
          gaussian_01: # i0*Gauss
            # i0: ['log_normal', 8.0e-4, 9.0e-5]
            i0: ['delta', 1.0e-1, 1.0e-3]
            center: ['normal', 0, 0.1]
            covariance: ['log_normal', 0.05, 0.007]
            off_diagonal: ['normal', 0.0, 10.0]
          gaussian_02: # i0*Gauss
            # i0: ['log_normal', 8.0e-4, 9.0e-5]
            i0: ['log_normal', 2.0e-2, 1.0e-2]
            center: ['normal', [-0.4, 0.4], 0.1]
            covariance: ['log_normal', 0.05, 0.007]
            off_diagonal: ['normal', 0.0, 10.0]

        # # For single frequency reconstructions
        # perturbations: 
        #   correlated_field:
        #     offset:
        #       offset_mean: -3.0
        #       offset_std: Null
        #         # - 0.2
        #         # - 0.1
        #     fluctuations:
        #       fluctuations:
        #         - 0.6
        #         - 0.2
        #       loglogavgslope:
        #         - -3.2
        #         - 0.3
        #       flexibility:
        #         - 0.8
        #         - 0.08
        #       asperity: Null
        #       non_parametric_kind: "power"
        #       # harmonic_type: "Fourier"


        multifrequency:

          nifty_mf:
            zero_mode: [0.0, 0.1] # normal
            spatial_amplitude:
              model: 'matern'
              scale: [0.08, 0.01]        # lognormal
              cutoff: [0.1, 0.01]       # lognormal
              loglogslope: [-4.0, 0.1]  # normal
            spectral_amplitude:
              model: 'matern'
              scale: [0.08, 0.01]        # lognormal
              cutoff: [0.1, 0.01]       # lognormal
              loglogslope: [-4.0, 0.1]  # normal
            spectral_index:
              mean: [-0.5, 1.0]         # normal
              fluctuations: [0.5, 0.1]  # lognormal 
            spectral_deviations:
              process: 'wiener'
              sigma: [0.5, 0.2]  # lognormal

          # colormix:
          #   matrix: 
          #     diagonal_prior: ['delta', 1.0, 0.2]
          #     off_diagonal_prior: ['normal', 0.0, 0.5]
          #   spatial:
          #     matern:
          #       amplitude:
          #         offset_mean: -1.0
          #         offset_std: [0.01, 1.0]
          #       fluctuations:
          #         scale: [1.0, 0.02]
          #         cutoff: [0.1, 0.01]
          #         loglogslope: [-3.0, 0.1]
          #     # correlated_field:
          #     #   offset:
          #     #     offset_mean: 0.0
          #     #     offset_std:
          #     #       - 0.001
          #     #       - 0.4
          #     #   fluctuations:
          #     #     fluctuations:
          #     #       - 2.3
          #     #       - 0.5
          #     #     loglogavgslope:
          #     #       - -3.0
          #     #       - 0.4
          #     #     flexibility:
          #     #       - 0.8
          #     #       - 0.08
          #     #     asperity: Null
          #     #     non_parametric_kind: "power"
          #     #     # harmonic_type: "Fourier"


    lens:
      light:
        mean:

          constant: 
            value: ['delta', 1.0, 0.0]


        multifrequency:
          pcopy: 
            sersicrenormalized_01: # i0*exp(-bn * (r/re)**1/n - 1)
              # ie: ['log_normal', 600, 350.0]  # before error detection
              ie: ['log_normal', 6000, 7000]
              re: ['log_normal', 5.0, 0.5]  # 0.88+-0.01 (Jared Cathey et.al. 2023)
              n: ['log_normal', 4.2, 1.2]    # 3.17+-0.02 (Jared Cathey et.al. 2023)
              center: ['normal', [0.0, 0.0], 0.1]
              q: [ 'uniform', 0.8, 1.0]
              theta: ['normal', 0.0, 10.0]
              # radial_correction: 
              #   extent_factor: 1.5
              #   Npix: 128
              #   rsigmoid: 0.3
              #   matern: 
              #     amplitude:
              #       offset_mean: 0.
              #       offset_std: Null
              #         # - 1.0e-1
              #         # - 1.0e-2
              #     fluctuations:
              #       scale:
              #         - 5.0e-1
              #         - 5.0e-2
              #       cutoff:
              #         - 1.0e-1
              #         - 1.0e-2
              #       loglogslope:
              #         - -5.0e+0
              #         -  5.0e-1

            # multisersicrenormalized: # i0*exp(-bn * (r/re)**1/n - 1) / exp(...)
            #   N: 2
            #   radius:
            #     center: ['normal', [0.22, 0.09], 0.04]
            #     q: [ 'uniform', 0.8, 1.0]
            #     theta: ['normal', 0.0, 10.0]

            #   sersic_01:
            #     ie: ['log_normal', 7.0e+2, 7.0e+2]
            #     re: ['log_normal', 3.0, 5.1]  # 0.88+-0.01 (Jared Cathey et.al. 2023)
            #     n: ['log_normal', 8.0, 5.09]    # 3.17+-0.02 (Jared Cathey et.al. 2023)


      convergence:
        mean:
          piemd:
            b:
              distribution: 'log_normal'
              mean: 1.3
              sigma: 0.1
            rs:
              distribution: 'log_normal'
              mean: 0.1
              sigma: 0.05
            center:
              distribution: 'normal'
              mean: 0.0
              sigma: 0.1
            q:
              distribution: 'uniform'
              min: 1.0
              max: 1.25
            theta:
              distribution: 'normal'
              mean: 0.0
              sigma: 10

        perturbations: 
          cfm:
            amplitude:
              offset_mean: 0.0
              offset_std:
                - 1.e-1
                - 1.e-6
            fluctuations:
              fluctuations:
                - 0.5
                - 5.e-2
              loglogavgslope:
                - -6.0
                - 0.7
              flexibility:
                - 0.5
                - 1.0
              asperity: null
                # - 0.1
                # - 0.5

      deflection:
        poisson_padding: 2
        shear:
          shear:
            strength:
              distribution: 'normal'
              mean: 0
              sigma: 0.001
            theta:
              distribution: 'normal'
              mean: 0.0
              sigma: 10
            center:
              distribution: null
              mean: 0.
              sigma: 0.2



minimization:
    key: 12092024
    resume: False
    n_total_iterations: 40
    pretraining_steps: Null

    delta:
      switches: [0, 10, 15]
      values: [5.e-6, 1.e-6, 1.e-7]

    samples:
      switches: [0, 3, 15, 30]
      n_samples: [5, 5, 7]
      mode: [linear_resample, nonlinear_resample, nonlinear_resample, nonlinear_update]
      # Possible modes:
      # - "linear_sample",
      # - "linear_resample",
      # - "nonlinear_sample",
      # - "nonlinear_resample",
      # - "nonlinear_update",


      # lin_absdelta: [Null, Null, 0.00001]
      lin_maxiter: [80, 250, 350]

      # nonlin_xtol: [Null, 0.1, 0.01]
      nonlin_maxiter: [7, 13, 18]
      # nonlin_cg_atol: [0.1, 0.01]
      # nonlin_cg_maxiter: [20, 30]

    kl_minimization:
      switches: [0, 10, 15]
      # kl_absdelta: [Null, 1.0e-2, 1.0e-4]
      kl_maxiter: [15, 20, 25]
