cpu: False
prior_samples: 1

grid:
  sdim: 128
  s_padding_ratio: 1.5
  fov: 5
  fov_unit: arcsec

  pointing:
    ra: 64.66543063107049
    dec: -47.86462563973049
    unit: deg
    frame: icrs
    # rotation: 65
    rotation: -115

  edim: 3
  e_padding_ratio: 1.0

  energy_bin:
    unit: eV
    e_min:
      # - 0.143 # F770W
      - 0.200 # F560W
      - 0.249 # F444W
      - 0.311 # F356W
      # - 0.396 # F277W
    e_max:
      # - 0.188 # F770W
      - 0.245 # F560W
      - 0.311 # F444W
      - 0.395 # F356W
      # - 0.512 # F277W
    e_ref:
      - 0.278


telescope:
  psf:
    webbpsf_path: '/home/jruestig/Data/JWST/WebbPsf/webbpsf-data_1.2.1/'
    psf_library: '/home/jruestig/Data/JWST/psf_library'
    psf_pixels: 32

  zero_flux:
    prior: ['lognormal', 1, 3]

  rotation_and_shift:
    model: 'linear' # 'sparse', 'linear', 'nufft'
    subsample: 3
    priors: # will be ignored in case of sparse
      shift: ['normal', 0, 1.0e-2]  # pixel units
      rotation: ['normal', 0, 1.0e-2]
      rotation_unit: 'deg'

      f444w:
        0:
          shift: ['delta', 0, 0]  # pixel units
          rotation: ['delta', 0, 0]


files:
  res_dir: 'results/jwst_test/f356w_f444w_f560w_03_alphaprior'

  filter:
    # f115w: # NIRCam
    #   - './data/spt0418/f115w/jw01355016001_02101_00001_nrcb4/jw01355016001_02101_00001_nrcb4_cal.fits'
    #   - './data/spt0418/f115w/jw01355016001_02101_00002_nrcb4/jw01355016001_02101_00002_nrcb4_cal.fits'

    # f150w:
    #   - './data/spt0418/f150w/jw01355016001_02103_00001_nrcb4/jw01355016001_02103_00001_nrcb4_cal.fits'
    #   - './data/spt0418/f150w/jw01355016001_02103_00002_nrcb4/jw01355016001_02103_00002_nrcb4_cal.fits'

    # f200w:
    #   - './data/spt0418/f200w/jw01355016001_02105_00001_nrcb4/jw01355016001_02105_00001_nrcb4_cal.fits'
    #   - './data/spt0418/f200w/jw01355016001_02105_00002_nrcb4/jw01355016001_02105_00002_nrcb4_cal.fits'

    # f277w:
    #   - './data/spt0418/f277w/jw01355016001_02101_00001_nrcblong/jw01355016001_02101_00001_nrcblong_cal.fits'
    #   - './data/spt0418/f277w/jw01355016001_02101_00002_nrcblong/jw01355016001_02101_00002_nrcblong_cal.fits'

    # f356w:
    #   - './data/spt0418/f356w/jw01355016001_02103_00001_nrcblong/jw01355016001_02103_00001_nrcblong_cal.fits'
    #   - './data/spt0418/f356w/jw01355016001_02103_00002_nrcblong/jw01355016001_02103_00002_nrcblong_cal.fits'

    f444w:
      - './data/spt0418/f444w/jw01355016001_02105_00001_nrcblong/jw01355016001_02105_00001_nrcblong_cal.fits'
      - './data/spt0418/f444w/jw01355016001_02105_00002_nrcblong/jw01355016001_02105_00002_nrcblong_cal.fits'

    f560w: # MIRI
      - './data/spt0418/f560w/jw01355015001_03101_00001_mirimage/jw01355015001_03101_00001_mirimage_cal.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00002_mirimage/jw01355015001_03101_00002_mirimage_cal.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00003_mirimage/jw01355015001_03101_00003_mirimage_cal.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00004_mirimage/jw01355015001_03101_00004_mirimage_cal.fits'

    # f770w:
    #   - './data/spt0418/f770w/jw01355015001_05101_00001_mirimage/jw01355015001_05101_00001_mirimage_cal.fits'
    #   - './data/spt0418/f770w/jw01355015001_05101_00002_mirimage/jw01355015001_05101_00002_mirimage_cal.fits'
    #   - './data/spt0418/f770w/jw01355015001_05101_00003_mirimage/jw01355015001_05101_00003_mirimage_cal.fits'
    #   - './data/spt0418/f770w/jw01355015001_05101_00004_mirimage/jw01355015001_05101_00004_mirimage_cal.fits'

    # f1000w:
    #   - './data/spt0418/f1000w/jw01355015001_07101_00001_mirimage/jw01355015001_07101_00001_mirimage_cal.fits'
    #   - './data/spt0418/f1000w/jw01355015001_07101_00002_mirimage/jw01355015001_07101_00002_mirimage_cal.fits'
    #   - './data/spt0418/f1000w/jw01355015001_07101_00003_mirimage/jw01355015001_07101_00003_mirimage_cal.fits'
    #   - './data/spt0418/f1000w/jw01355015001_07101_00004_mirimage/jw01355015001_07101_00004_mirimage_cal.fits'

    # f1280w:
    #   - './data/spt0418/f1280w/jw01355015001_09101_00001_mirimage/jw01355015001_09101_00001_mirimage_cal.fits'
    #   - './data/spt0418/f1280w/jw01355015001_09101_00002_mirimage/jw01355015001_09101_00002_mirimage_cal.fits'
    #   - './data/spt0418/f1280w/jw01355015001_09101_00003_mirimage/jw01355015001_09101_00003_mirimage_cal.fits'
    #   - './data/spt0418/f1280w/jw01355015001_09101_00004_mirimage/jw01355015001_09101_00004_mirimage_cal.fits'

    # f1500w:
    #   - './data/spt0418/f1500w/jw01355015001_11101_00001_mirimage/jw01355015001_11101_00001_mirimage_cal.fits'
    #   - './data/spt0418/f1500w/jw01355015001_11101_00002_mirimage/jw01355015001_11101_00002_mirimage_cal.fits'
    #   - './data/spt0418/f1500w/jw01355015001_11101_00003_mirimage/jw01355015001_11101_00003_mirimage_cal.fits'
    #   - './data/spt0418/f1500w/jw01355015001_11101_00004_mirimage/jw01355015001_11101_00004_mirimage_cal.fits'

    # f1800w:
    #   - './data/spt0418/f1800w/jw01355015001_13101_00001_mirimage/jw01355015001_13101_00001_mirimage_cal.fits'
    #   - './data/spt0418/f1800w/jw01355015001_13101_00002_mirimage/jw01355015001_13101_00002_mirimage_cal.fits'
    #   - './data/spt0418/f1800w/jw01355015001_13101_00003_mirimage/jw01355015001_13101_00003_mirimage_cal.fits'
    #   - './data/spt0418/f1800w/jw01355015001_13101_00004_mirimage/jw01355015001_13101_00004_mirimage_cal.fits'

    # f2100w:
    #   - './data/spt0418/f2100w/jw01355015001_15101_00001_mirimage/jw01355015001_15101_00001_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00002_mirimage/jw01355015001_15101_00002_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00003_mirimage/jw01355015001_15101_00003_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00004_mirimage/jw01355015001_15101_00004_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00005_mirimage/jw01355015001_15101_00005_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00006_mirimage/jw01355015001_15101_00006_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00007_mirimage/jw01355015001_15101_00007_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00008_mirimage/jw01355015001_15101_00008_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00009_mirimage/jw01355015001_15101_00009_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00010_mirimage/jw01355015001_15101_00010_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00011_mirimage/jw01355015001_15101_00011_mirimage_cal.fits'
    #   - './data/spt0418/f2100w/jw01355015001_15101_00012_mirimage/jw01355015001_15101_00012_mirimage_cal.fits'


priors:

  # mean:
  #   exponentialpower: # i0*exp(-a (r/re)**b)
  #     i0: ['log_normal', 9.0, 9.0e-1]
  #     a: ['log_normal', 0.2, 0.1]
  #     re: ['log_normal', 0.03, 0.01]
  #     b:
  #       distribution: 'uniform'
  #       min: 0.25  # 0.25 deVaucouleurs profile 
  #       max: 2.2
  #     center:
  #       distribution: 'normal'
  #       mean: 0.0
  #       sigma: 0.01
  #     q:
  #       distribution: 'uniform'
  #       min: 0.68
  #       max: 1.0
  #     theta:
  #       distribution: 'normal'
  #       mean: 0.0
  #       sigma: 10

  diffuse:
    spatial:
      offset:
        offset_mean: 0.0
        offset_std: Null
          # - 1.2
          # - 0.5
      fluctuations:
        fluctuations:
          - 1.6
          - 0.1
        loglogavgslope:
          - -3.2
          - 0.3
        flexibility:
          - 0.8
          - 0.08
        asperity: Null
        non_parametric_kind: "power"
        # harmonic_type: "Fourier"
      prefix: diffuse_spatial_

    # colormix:
    #   # diagonal_prior: ['lognormal', 1.2, 0.2]
    #   diagonal_prior: ['delta', 1.0, 0.2]
    #   off_diagonal_prior: ['normal', 0.0, 0.3]

    plaw: # Gets ignored if colormix
      offset:
        offset_mean: 1.0
        offset_std:
          - 0.8
          - 0.1
      fluctuations:
        fluctuations:
          - 1.0
          - 0.12
        loglogavgslope:
          - -2.5
          - 0.5
        flexibility:
          - 0.5
          - 0.05
        asperity:
          Null
        non_parametric_kind: "power"
        # harmonic_type: "Fourier"
      prefix: diffuse_plaw_



minimization:
    key: 288
    resume: False
    n_total_iterations: 20
    delta:
      switches: [0, 10]
      values: [1.e-5, 1.e-6]

    samples:
      switches: [0, 11]
      n_samples: [4, 5]
      mode: [linear_resample]
      # Possible modes:
      # - "linear_sample",
      # - "linear_resample",
      # - "nonlinear_sample",
      # - "nonlinear_resample",
      # - "nonlinear_update",

      # LIN SAMPLING
      # lin_absdelta: [Null, 1.e-4] # if set, delta is ignored
      lin_maxiter: [60, 150]

      # NONLIN SAMPLING
      # nonlin_xtol: [Null, 0.1] # if set, delta is ignored
      nonlin_maxiter: 10
      # nonlin_cg_atol: [0.1, 0.01]
      # nonlin_cg_maxiter: [20, 30]

    kl_minimization:
      switches: [0, 10]
      # kl_absdelta: [Null, 1.e-6] # if set, delta is ignored
      kl_maxiter: [10, 13]
