seed: 67
obs_info:
  obs4948: # Perseus Cluster
    obsID: 4948
    data_location: ../data/4948/
    event_file: primary/acisf04948N004_evt2.fits
    aspect_sol: primary/pcadf04948_001N001_asol1.fits
    bpix_file: primary/acisf04948_001N004_bpix1.fits
    mask_file: secondary/acisf04948_001N004_msk1.fits
    instrument: ACIS-I

grid:
  sdim: 512
  edim: 3
  s_padding_ratio: 1.1075
  e_padding_ratio: 1.
  energy_bin:
    e_min:
      - 0.5
      - 1.2
      - 2.0
    e_max:
      - 1.2
      - 2.0
      - 7.0
    e_ref:
      - 2

telescope:
  fov: 2040
  exp_cut: 500
  center_obs_id:

files:
  data_dict: 'data.pkl'
  processed_obs_folder: 'processed'
  res_dir: 'results/chandra_demo'
# If mock:
  mock_gen_config: 'configs/chandra_demo.yaml'
  pos_dict: 'pos.pkl'

psf:
  num_rays: 10000
  npatch: 4
  margfrac: 0.062

plotting:
  enabled: True
  slice: Null
  dpi: 800


priors:
  point_sources:
    spatial:
      alpha: 1.9952748894654722
      key: points
      q: 1.6281324151282162e-09

    plaw:
      mean: -0.3
      name: points_plaw_
      std: 0.1

  diffuse:
    spatial:
      fluctuations:
        asperity: null
        flexibility:
        - 0.3
        - 0.01
        fluctuations:
        - 0.3
        - 0.01
        loglogavgslope:
        - -5.0
        - 0.1
        non_parametric_kind: power
      offset:
        offset_mean: -19.5
        offset_std:
        - 0.3
        - 0.05
      prefix: diffuse_spatial_
    plaw:
      fluctuations:
        asperity: null
        flexibility:
        - 0.01
        - 0.001
        fluctuations:
        - 0.01
        - 0.001
        loglogavgslope:
        - -6.0
        - 0.01
        non_parametric_kind: power
      offset:
        offset_mean: -1.3
        offset_std:
        - 0.01
        - 0.001
      prefix: diffuse_plaw_

minimization:
    resume: False
    n_total_iterations: 15
    delta:
      switches: [0, 10]
      values: [1.e-5, 1.e-6]

    samples:
      switches: [0, 10]
      n_samples: [4, 5]
      mode: [nonlinear_resample, nonlinear_update]

      # LIN SAMPLING
      lin_maxiter: [60, 70]

      # NONLIN SAMPLING
      nonlin_maxiter: [25, 35]

    kl_minimization:
      switches: [0, 10]
      kl_maxiter: [10, 13]