cpu: False
prior_samples: False
plot_results: True
nonparametric_lens: False
max_residuals: 4 # 4 for big run
no_interactive_plotting: False


# Before long run:
# 1) No prior samples
# 2) No interactive plotting
# 3) Frequencies & reference frequency
# 4) No fixed positions
# 5) Large Psf
# 6) Output directory,  res_dir
# 7) (Optional) Download latest webbpsf and delete stashed Psfs: https://webbpsf.readthedocs.io/en/stable/installation.html


sky: 
  grid:
    sdim: 512
    # NOTE: SHOULD THIS BE HERE?????
    s_padding_ratio: 1.5  # Size of the convergence, i.e. (384*1.5, 6*1.5)

    # fov: 6.0arcsec
    fov: 5.0arcsec
    rotation: 0.0deg
    coordinate_frame: icrs
    sky_center:
      ra: 64.66543063107049deg
      dec: -47.86462563973049deg

    source_grid:
      sdim: 384
      fov: 3arcsec
      s_padding_ratio: 1.0
      # interpolation: 'finufft' # finufft, bilinear
      interpolation: 'bilinear' # finufft, bilinear

    energy_unit: eV
    energy_bin:
      e_min:
        - 0.054 # F2100W

        - 0.068 # F1800W  # mistake here actually 0.064

        - 0.075 # F1500W
        - 0.093 # F1280W  # mistake here actually 0.088
        - 0.114 # F1000W
        - 0.143 # F770W
        - 0.201 # F560W

        - 0.249 # F444W

        - 0.319 # F356W  # mistake here actually 0.311
        - 0.396 # F277W
        - 0.557 # F200W
        - 0.743 # F150W

        - 0.967 # F115W
      e_max:
        - 0.067 # F2100W

        - 0.075 # F1800W

        - 0.092 # F1500W
        - 0.107 # F1280W
        - 0.137 # F1000W
        - 0.188 # F770W
        - 0.245 # F560W

        - 0.319 # F444W

        - 0.395 # F356W
        - 0.512 # F277W
        - 0.707 # F200W
        - 0.932 # F150W

        - 1.224 # F115W
      reference_bin: 7 # F444W

  model_fixing_pointing:
    source:
      light:
        mean:
          gaussian_01:
            # i0: ['log_normal', 1.0 , 20.0, [3, 1, 1]]
            i0: ['log_normal', 1.0 , 20.0, [13, 1, 1]]
            center: ['normal', 0, 0.1]
            # covariance: ['log_normal', 0.08, 0.02]
            covariance: ['log_normal', 0.08, 0.02, [2, 13, 1, 1]]
            off_diagonal: ['normal', 0.0, 10.0]
          gaussian_02: # i0*Gauss
            # i0: ['log_normal', 1.0 , 20.0, [3, 1, 1]]
            i0: ['log_normal', 1.0 , 20.0, [13, 1, 1]]
            center: ['normal', [-0.5, -0.5], 0.1]
            # covariance: ['log_normal', 0.08, 0.02]
            covariance: ['log_normal', 0.08, 0.02, [2, 13, 1, 1]]
            off_diagonal: ['normal', 0.0, 10.0]

          # pcopy: 
          #   gaussian_01: # i0*Gauss
          #     i0: ['log_normal', 1.0e-1, 2.0e-1]
          #     center: ['normal', 0, 0.1]
          #     covariance: ['log_normal', 0.08, 0.02]
          #     off_diagonal: ['normal', 0.0, 10.0]
          #   gaussian_02: # i0*Gauss
          #     i0: ['log_normal', 2.0e-2, 4.0e-2]
          #     center: ['normal', [-0.5, -0.5], 0.1]
          #     covariance: ['log_normal', 0.08, 0.02]
          #     off_diagonal: ['normal', 0.0, 10.0]

    lens:
      light:
        mean:
          # sersicrenormalized_01: # i0*exp(-bn * (r/re)**1/n - 1)
          sersic_01: # i0*exp(-bn * (r/re)**1/n - 1)
            # ie: ['log_normal', 6000, 7000, [3, 1, 1]]
            ie: ['log_normal', 6000, 7000, [13, 1, 1]]
            # re: ['log_normal', 5.0, 0.5]  # 0.88+-0.01 (Jared Cathey et.al. 2023)
            re: ['log_normal', 5.0, 0.5]  # 0.88+-0.01 (Jared Cathey et.al. 2023)
            n: ['log_normal', 4.2, 0.6]  # 3.17+-0.02 (Jared Cathey et.al. 2023)
            center: ['normal', [0.0, 0.0], 0.1]
            q: [ 'uniform', 0.8, 1.0]
            theta: ['normal', 0.0, 10.0]


  model:
    source:
      light:
        mean:
          gaussian_01: # i0*Gauss
            i0: ['delta', 1.0, 0.0]
            # i0: ['log_normal', 1.0e-1, 2.0e-1]
            center: ['normal', 0, 0.1]
            # covariance: ['log_normal', 0.08, 0.02]
            covariance: ['log_normal', 0.08, 0.02, [2, 13, 1, 1]]
            off_diagonal: ['normal', 0.0, 10.0]
          gaussian_02: # i0*Gauss
            i0: ['delta', 1.0, 0.0]
            # i0: ['log_normal', 2.0e-2, 4.0e-2]
            center: ['normal', [-0.5, -0.5], 0.1]
            # covariance: ['log_normal', 0.08, 0.02]
            covariance: ['log_normal', 0.08, 0.02, [2, 13, 1, 1]]
            off_diagonal: ['normal', 0.0, 10.0]

        multifrequency:
          nifty_mf:
            zero_mode: [0.2, 0.05] # normal
            spatial_amplitude:
              model: 'matern'
              scale: [0.1, 0.03]        # lognormal
              cutoff: [0.08, 0.01]       # lognormal
              loglogslope: [-4.0, 0.5]  # normal
            spectral_amplitude:
              model: 'matern'
              scale: [0.1, 0.03]        # lognormal
              cutoff: [0.08, 0.01]       # lognormal
              loglogslope: [-4.0, 0.5]  # normal
            spectral_index:
              mean: [-1.5, 0.5]         # normal
              fluctuations: [0.1, 0.05]  # lognormal 
            spectral_deviations:
              process: 'wiener'
              sigma: [5.0e-2, 5.0e-3]  # lognormal

    lens:
      light:
        mean:
          sersic_01: # i0*exp(-bn * (r/re)**1/n - 1)
            ie: ['delta', 1.0, 0.0]
            re: ['log_normal', 0.8, 0.5]  # 0.88+-0.01 (Jared Cathey et.al. 2023)
            n: ['log_normal', 4.2, 0.6]    # 3.17+-0.02 (Jared Cathey et.al. 2023)
            center: ['normal', [0.0, 0.0], 0.1]
            q: [ 'uniform', 0.8, 1.0]
            theta: ['normal', 0.0, 10.0]
        multifrequency:
          nifty_mf:
            zero_mode: [-2.7, 0.8] # normal
            spatial_amplitude:
              model: 'matern'
              scale: [0.01, 0.001]    # lognormal
              cutoff: [0.1, 0.01]       # lognormal
              loglogslope: [-7.0, 0.2]  # normal
            # spectral_amplitude:
            #   model: 'matern'
            #   scale: [0.08, 0.01]        # lognormal
            #   cutoff: [0.1, 0.01]       # lognormal
            #   loglogslope: [-4.0, 0.1]  # normal
            spectral_index:
              mean: [1.4, 0.5]         # normal
              fluctuations: [5.0e-2, 1.0e-2]  # lognormal 
            # spectral_deviations:
            #   process: 'wiener'
            #   sigma: [0.01e-7, 0.01e-8]  # lognormal


      convergence:
        mean:
          piemd:
            b:
              distribution: 'log_normal'
              mean: 1.3
              sigma: 0.1
            rs:
              distribution: 'log_normal'
              mean: 0.1
              sigma: 0.05
            center:
              distribution: 'normal'
              mean: 0.0
              sigma: 0.1
            q:
              distribution: 'uniform'
              min: 1.0
              max: 1.25
            theta:
              distribution: 'normal'
              mean: 0.0
              sigma: 10

        perturbations: 
          cfm:
            amplitude:
              offset_mean: 0.0
              offset_std:
                - 1.e-1
                - 1.e-6
            fluctuations:
              fluctuations:
                - 0.5
                - 5.e-2
              loglogavgslope:
                - -6.0
                - 0.9
              flexibility:
                - 0.5
                - 1.0
              asperity: null
                # - 0.1
                # - 0.5

      deflection:
        poisson_padding: 2
        shear:
          shear:
            strength:
              distribution: 'normal'
              mean: 0
              sigma: 0.001
            theta:
              distribution: 'normal'
              mean: 0.0
              sigma: 10
            center:
              distribution: null
              mean: 0.
              sigma: 0.2


telescope:
  corner_mask_01:
    ra: [4h18m39.42s, 4h18m39.46s, 4h18m39.46s, 4h18m39.41s]
    dec: [-47d51m52.3s, -47d51m52.4s, -47d51m53.3s, -47d51m53.2s]

  corner_mask_02:
    ra : [4h18m39.59s, 4h18m39.61s, 4h18m39.59s, 4h18m39.58s]
    dec: [-47d51m54.6s, -47d51m54.9s, -47d51m54.9s, -47d51m54.7s]


  psf:
    webbpsf_path: './data/JWST/WebbPsf/webbpsf-data-LATEST/'
    psf_library: './data/JWST/psf_library'
    psf_arcsec_extension: 3.5
    # psf_arcsec_extension: 0.5

  zero_flux:
    default: ['lognormal', 0.9, 4]

    f444w: ['lognormal', 0.5, 1.5]
    f560w: ['lognormal', 1.5, 1.5]
    f770w: ['lognormal', 4.0, 1.5]
    f1000w: ['lognormal', 14.0, 1.5]
    f1280w: ['lognormal', 25.0, 1.5]
    f1500w: ['lognormal', 43.0, 1.5]
    f1800w: ['lognormal', 92.0, 1.5]
    f2100w: ['lognormal', 226.0, 1.0]


  rotation_and_shift:
    # sparse:
    #   extend_factor: 1
    #   to_bottom_left: False

    # nufft: 
    #   mode: 'constant'

    linear:
      mode: 'constant'
      order: 1

    subsample: 3

    correction_priors: # will be ignored in case of sparse
      rotation_unit: deg
      shift_unit: arcsec
      default:
        rotation: ['normal', 0, 1.0e-3]  # With great power comes great responsibility !!
        shift: ['normal', 0, 1.0e-1]


files:
  res_dir: './results/jwst_lens/cluster/12_01_easter_fulldata'

  filter:

    f2100w:
      - './data/spt0418/f2100w/jw01355015001_15101_00001_mirimage/jw01355015001_15101_00001_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00002_mirimage/jw01355015001_15101_00002_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00003_mirimage/jw01355015001_15101_00003_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00004_mirimage/jw01355015001_15101_00004_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00005_mirimage/jw01355015001_15101_00005_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00006_mirimage/jw01355015001_15101_00006_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00007_mirimage/jw01355015001_15101_00007_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00008_mirimage/jw01355015001_15101_00008_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00009_mirimage/jw01355015001_15101_00009_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00010_mirimage/jw01355015001_15101_00010_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00011_mirimage/jw01355015001_15101_00011_mirimage_tweakregstep.fits'
      - './data/spt0418/f2100w/jw01355015001_15101_00012_mirimage/jw01355015001_15101_00012_mirimage_tweakregstep.fits'

    f1800w:
      - './data/spt0418/f1800w/jw01355015001_13101_00001_mirimage/jw01355015001_13101_00001_mirimage_tweakregstep.fits'
      - './data/spt0418/f1800w/jw01355015001_13101_00002_mirimage/jw01355015001_13101_00002_mirimage_tweakregstep.fits'
      - './data/spt0418/f1800w/jw01355015001_13101_00003_mirimage/jw01355015001_13101_00003_mirimage_tweakregstep.fits'
      - './data/spt0418/f1800w/jw01355015001_13101_00004_mirimage/jw01355015001_13101_00004_mirimage_tweakregstep.fits'

    f1500w:
      - './data/spt0418/f1500w/jw01355015001_11101_00001_mirimage/jw01355015001_11101_00001_mirimage_tweakregstep.fits'
      - './data/spt0418/f1500w/jw01355015001_11101_00002_mirimage/jw01355015001_11101_00002_mirimage_tweakregstep.fits'
      - './data/spt0418/f1500w/jw01355015001_11101_00003_mirimage/jw01355015001_11101_00003_mirimage_tweakregstep.fits'
      - './data/spt0418/f1500w/jw01355015001_11101_00004_mirimage/jw01355015001_11101_00004_mirimage_tweakregstep.fits'

    f1280w:
      - './data/spt0418/f1280w/jw01355015001_09101_00001_mirimage/jw01355015001_09101_00001_mirimage_tweakregstep.fits'
      - './data/spt0418/f1280w/jw01355015001_09101_00002_mirimage/jw01355015001_09101_00002_mirimage_tweakregstep.fits'
      - './data/spt0418/f1280w/jw01355015001_09101_00003_mirimage/jw01355015001_09101_00003_mirimage_tweakregstep.fits'
      - './data/spt0418/f1280w/jw01355015001_09101_00004_mirimage/jw01355015001_09101_00004_mirimage_tweakregstep.fits'

    f1000w:
      - './data/spt0418/f1000w/jw01355015001_07101_00001_mirimage/jw01355015001_07101_00001_mirimage_tweakregstep.fits'
      - './data/spt0418/f1000w/jw01355015001_07101_00002_mirimage/jw01355015001_07101_00002_mirimage_tweakregstep.fits'
      - './data/spt0418/f1000w/jw01355015001_07101_00003_mirimage/jw01355015001_07101_00003_mirimage_tweakregstep.fits'
      - './data/spt0418/f1000w/jw01355015001_07101_00004_mirimage/jw01355015001_07101_00004_mirimage_tweakregstep.fits'

    f770w:
      - './data/spt0418/f770w/jw01355015001_05101_00001_mirimage/jw01355015001_05101_00001_mirimage_tweakregstep.fits'
      - './data/spt0418/f770w/jw01355015001_05101_00002_mirimage/jw01355015001_05101_00002_mirimage_tweakregstep.fits'
      - './data/spt0418/f770w/jw01355015001_05101_00003_mirimage/jw01355015001_05101_00003_mirimage_tweakregstep.fits'
      - './data/spt0418/f770w/jw01355015001_05101_00004_mirimage/jw01355015001_05101_00004_mirimage_tweakregstep.fits'

    f560w: # MIRI
      - './data/spt0418/f560w/jw01355015001_03101_00001_mirimage/jw01355015001_03101_00001_mirimage_tweakregstep.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00002_mirimage/jw01355015001_03101_00002_mirimage_tweakregstep.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00003_mirimage/jw01355015001_03101_00003_mirimage_tweakregstep.fits'
      - './data/spt0418/f560w/jw01355015001_03101_00004_mirimage/jw01355015001_03101_00004_mirimage_tweakregstep.fits'

    f444w: # NIRCam
      - './data/spt0418/f444w/jw01355016001_02105_00001_nrcblong/jw01355016001_02105_00001_nrcblong_tweakregstep.fits'
      - './data/spt0418/f444w/jw01355016001_02105_00002_nrcblong/jw01355016001_02105_00002_nrcblong_tweakregstep.fits'

    f356w:
      - './data/spt0418/f356w/jw01355016001_02103_00001_nrcblong/jw01355016001_02103_00001_nrcblong_tweakregstep.fits'
      - './data/spt0418/f356w/jw01355016001_02103_00002_nrcblong/jw01355016001_02103_00002_nrcblong_tweakregstep.fits'

    f277w:
      - './data/spt0418/f277w/jw01355016001_02101_00001_nrcblong/jw01355016001_02101_00001_nrcblong_tweakregstep.fits'
      - './data/spt0418/f277w/jw01355016001_02101_00002_nrcblong/jw01355016001_02101_00002_nrcblong_tweakregstep.fits'

    f200w:
      - './data/spt0418/f200w/jw01355016001_02105_00001_nrcb4/jw01355016001_02105_00001_nrcb4_tweakregstep.fits'
      - './data/spt0418/f200w/jw01355016001_02105_00002_nrcb4/jw01355016001_02105_00002_nrcb4_tweakregstep.fits'

    f150w:
      - './data/spt0418/f150w/jw01355016001_02103_00001_nrcb4/jw01355016001_02103_00001_nrcb4_tweakregstep.fits'
      - './data/spt0418/f150w/jw01355016001_02103_00002_nrcb4/jw01355016001_02103_00002_nrcb4_tweakregstep.fits'

    f115w: # NIRCam
      - './data/spt0418/f115w/jw01355016001_02101_00001_nrcb4/jw01355016001_02101_00001_nrcb4_tweakregstep.fits'
      - './data/spt0418/f115w/jw01355016001_02101_00002_nrcb4/jw01355016001_02101_00002_nrcb4_tweakregstep.fits'


minimization:
    key: 20250425
    resume: False
    n_total_iterations: 20

    fixpointing:
      resume: False
      n_total_iterations: 10

    delta:
      switches: [0, 4, 8, 15]
      values: [5.e-6, 1.e-6, 5.e-7, 1.e-7]

    samples:
      switches: [0, 4, 8, 15]
      n_samples: [3, 3, 3, 5]
      # n_samples: [5]
      # mode: [linear_resample, nonlinear_resample, nonlinear_resample, nonlinear_update]
      mode: [linear_resample, linear_resample, nonlinear_resample]
      # Possible modes:
      # - "linear_sample",
      # - "linear_resample",
      # - "nonlinear_sample",
      # - "nonlinear_resample",
      # - "nonlinear_update",


      # lin_absdelta: [Null, Null, 0.00001]
      lin_maxiter: [120, 350, 550, 850]

      # nonlin_xtol: [Null, 0.1, 0.01]
      nonlin_maxiter: [7, 7, 13, 18]
      # nonlin_cg_atol: [0.1, 0.01]
      # nonlin_cg_maxiter: [20, 30]

    kl_minimization:
      switches: [0, 10, 15]
      # kl_absdelta: [Null, 1.0e-2, 1.0e-4]
      kl_xtol: 1.0e-12
      kl_maxiter: [15, 20, 25]
